@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Yusei+Magic&display=swap');


body {
    font-family: 'Rubik Distressed', cursive;
    background-image: $backgroundImage;
    height:100vh;
    background-attachment: fixed;


}



p{
    font-family: 'Yusei Magic', sans-serif;
    color: white;
}